.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: #E3E6F3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
}

.nav__right {
    display: flex;
    align-items: center;

}

.nav__close, .nav__toggle {
    display: none;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__link {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    color: #1a1a1a;
    position: relative;
    letter-spacing: 0.8px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.2s ease-in;
}

.nav__link:hover {
    color: #088178;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #088178;
    transition: 0.2s ease-in;
    border-radius: 20px;
}

.nav__link:hover::after {
    width: 50%;
}

.nav__link-active {
    color: #088178;
}

.nav__link-active::after {
    width: 50%;
}

.nav__cart {
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-animation {
    animation: pulse 1.5s ease-in-out infinite both alternate;
}

@keyframes pulse {
    from {
        filter: drop-shadow(0 0 0 #088178) drop-shadow(0 0 0 #088178)
        drop-shadow(0 0 0 #088178);
    }
    to {
        filter: drop-shadow(0 0 1px #088178) drop-shadow(0 0 1px #088178)
        drop-shadow(0 0 1px #088178);
    }
    
  }

.nav__account {
    border: 1px solid gray;
    padding: .8rem;
    margin: 0 1rem;
    border-radius: 25px;
}
/* media queris */
@media (max-width: 768px) {
    .nav {
        padding: 1rem 2rem;
    }

    .nav__toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav__cart {
        margin: 0 0.8rem;
    }

    .nav__account {
        margin: 0 0 0 0.3rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-150%);
        background-color: #e4e6f4;
        width: 100%;
        border-radius: 0 0 20px 20px;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.5s ease;
        z-index: 1000;

    }

    .nav__menu-active {
        transform: translateY(0);
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__link {
        margin: 1rem auto;
    }

    .nav__close {
        display: block;
        margin: 1rem auto;
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
    }
}

@media (max-width: 542px) {
    .nav__account {
        display: none;
    }
}

@media (max-width: 425px) {
    .nav {
        padding: 1rem 1.5rem;
    }
}