.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 4rem;
    background-color: #E3E6F3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__menu-top {
    display: none;
}

.nav__close, .nav__toggle {
    display: none;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__link {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    color: #1a1a1a;
    position: relative;
    letter-spacing: 0.8px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.2s ease-in;
}

.nav__link:hover {
    color: #088178;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #088178;
    transition: 0.2s ease-in;
    border-radius: 20px;
}

.nav__link:hover::after {
    width: 50%;
}

.nav__link-active {
    color: #088178;
}

.nav__link-active::after {
    width: 50%;
}

.nav__cart {
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #1a1a1a;
    transition: 0.3s ease-in-out;
}

.nav__cart-active {
    color: #088178;
}

.nav__cart:hover {
    color: #088178;
}

/* nav__account-top active in nav menu in movile */

.nav__account, .nav__account-top {
    display: inline-block;
    border: 1px solid #323232;
    padding: .6rem 1.3rem;
    margin: 0 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav__account-active, .nav__account-top-active {
    border: 1px solid #088178;
    color: #088178;
}

.nav__account:hover , .nav__account-top:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav__account span , .nav__account-top span{
    margin-left: 0.3rem;
    transition: 0.3s ease-in-out;
}

.nav__account:hover span , .nav__account-top:hover span{
    transform: translateX(3px);
    color: #088178;
}
/* media queris */
@media (max-width: 768px) {
    .nav {
        padding: 1rem 2rem;
    }

    .nav__right-active::after {
        content: '';
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.64);
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .nav__toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-top: 4px;
    }

    .nav__cart {
        margin: 0 0.8rem;
    }

    .nav__account {
        margin: 0 0 0 0.3rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-150%);
        background-color: #e4e6f4;
        width: 100%;
        border-radius: 0 0 20px 20px;
        padding: 2rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.5s ease;
        z-index: 1000;
    }

    .nav__menu-active {
        transform: translateY(0);
        z-index: 1000;
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__link {
        margin: 1rem auto;
    }

    .nav__menu-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }

    .nav__close {
        display: block;
        text-align: left;
        font-size: 1.8rem;
        cursor: pointer;
    }
}

@media (max-width: 542px) {
    .nav__account {
        display: none;
    }
    
    .nav__account-top {
        display: flex;
    }
}

@media (max-width: 425px) {
    .nav {
        padding: 1rem 1.5rem;
    }
}