.container {
  min-height: 90vh;
}

.shop__header {
  background: url("../img/banner/b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0.5rem;
}

.shop__title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.shop__subtitle {
  color: #fff;
  font-size: 1.3rem;
}

.shop__product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}
