.signup {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup__form {
  border-radius: 10px;
  padding: 2rem 1.5rem;
  margin: 5rem auto;
  width: 30rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.signup__title h2 {
  font-size: 2.8rem;
  margin-bottom: 3.5rem;
  color: #323232;
  font-weight: 600;
}

.signup__submit {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #07736c;
  background-color: #088178;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2.5rem;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signup__submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.signup__submit:hover {
  background-color: #07736c;
}

.signup__btn-text {
  margin: 1rem auto;
  display: inline-block;
}

.signup__link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1d4ed8;
}

.signup__error {
  text-align: center;
  color: #dc2626;
  background-color: #fecaca;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
  width: fit-content;
  margin: 1rem auto;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.4rem auto;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive */
@media (max-width: 530px) {
  .signup__form {
    width: 90%;
    margin: 3rem auto;
  }
}
